* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/main_background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#player,
#layer,
#enemy_splash,
#enemy_shit {
  display: none;
}
